.profile__info {
    display: grid;
    margin-left: 30px;
    margin-right: 30px;
    flex-basis: calc(336px + 244px - 30px);
    grid-template-columns: auto 24px;
    grid-template-rows: repeat(auto-fit, minmax(24px, 1fr));
    column-gap: 18px;
    row-gap: 16px;
    align-items: baseline;
    justify-content: start;
}

@media screen and (max-width: 900px) {
    .profile__info {
        flex-basis: auto;
        grid-template-columns: 18px auto 18px;
        grid-template-rows: repeat(auto-fit, minmax(18px, 1fr));
        column-gap: 10px;
        row-gap: 14px;
        margin-top: 26px;
        margin-bottom: 36px;
    }
}