.profile {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 50px;
}

@media screen and (max-width: 900px) {
    .profile {
        flex-flow: column;
        max-width: 282px;
        padding-left: 19px;
        padding-right: 19px;
        padding-bottom: 36px;
    }
}