.place__desc {
    margin: 0 auto;
    padding-top: 21px;
    padding-bottom: 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 246px;
    width: 100%;
}