.place__like {
    width: 22px;
    height: 19px;
    border: none;
    background-image: url(../../../images/like.svg);
    background-repeat: no-repeat;
    background-position: center;
    align-self: center;
    flex-basis: 22px;
    flex-shrink: 0;
    margin-bottom: 3px;
    padding: 0;
}