.popup__save-btn{
    width: 358px;
    height: 50px;
    margin: 31px 36px 37px;
    padding: 0;
    border: none;
    border-radius: 2px;
    background-color: black;
    color: white;
    font-size: 18px;
    line-height: calc(22 / 18);
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .popup__save-btn {
        width: 238px;
        height: 46px;
        margin-left: 22px;
        margin-right: 22px;
        margin-bottom: 25px;
        font-size: 14px;
        line-height: calc(17 / 14);
    }
}