.popup__close-btn {
    width: 32px;
    height: 32px;
    position: absolute;
    top: -40px;
    right: -40px;
    border: none;
    padding: 0;
    background-image: url(../../../images/close-button.svg);
    background-size: contain;
}

@media screen and (max-width: 900px) {
    .popup__close-btn {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }
}